<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
<!--        별칭을 지정하는것 com.susan.domain.entity.User의 클래스에 User라는 별칭을 지정.
            쿼리 작성하고 나서 resultType 이런거 설정할때 짧고 간결하게 해주는것.-->
        <typeAlias type="com.learn.entity.User"
                   alias="User"/>
        <typeAlias type="com.learn.request.signupRequest"
                   alias="signupRequest"/>
    </typeAliases>
</configuration>